.example-card {
  width: 400px;
  margin-top: 10px;
}

.app-content {
  padding: 20px;
}

a {
  cursor: pointer;  
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}