<md-sidenav-container>

  <md-sidenav #sidenav>
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <a md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </a>

    2BFit

  </md-toolbar>

  <div class="app-content">

    <h1>Users</h1>

    <md-spinner *ngIf="!users"></md-spinner>

    <div [fxLayout]="column" fxLayoutWrap style="cursor: pointer;">

      <div fxFlex *ngFor="let user of users | async">
        
        <md-card class="example-card">

          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>{{user.name}}</md-card-title>
            <md-card-subtitle>{{user.age}} anos</md-card-subtitle>
          </md-card-header>

          <md-card-content>
            <p md-line>mora em {{user.address}}</p>
          </md-card-content>

          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>

        </md-card>

      </div>

    </div>


  </div>

</md-sidenav-container>

<span class="app-action">
  <button md-fab><md-icon>add</md-icon></button>
</span>