<h1>Users</h1>

<md-grid-list cols="4" rowHeight="200px">

  <md-grid-tile *ngFor="let user of users | async">
    <md-card class="example-card">

      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <h4 md-line>{{user.name}}</h4>
        <md-card-subtitle>{{user.age}} anos</md-card-subtitle>
      </md-card-header>

      <md-card-content>
        <p md-line>mora em {{user.address}}</p>
      </md-card-content>

      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>

    </md-card>
  </md-grid-tile>

</md-grid-list>